@import '../../styles/environment';
@import '../../styles/mediaQueries';

.container {
  width: 100%;
  // height: 100vh;
}
  .main {
    width: 100%;
    height: calc(100vh - 40px - 48px); // 40px header, 48px player
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
    .goToTracksButton {
      height: 48px;
      padding: 0 12px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: rgba($colorPrimary, 0.2);
      text-decoration: none;
      font-size: 16px;
      color: $colorPrimary;
      border: none;
      border-radius: $borderRadius;

      i {
        margin-left: 8px;
        font-size: 20px;
      }
    }