@import '../../styles/environment';

.container {
  width: 100%;
  height: 20px;
  position: relative;

  input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: $colorLightGray;
    border-radius: 4px;
    outline: none;
    border: none;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      background-color: $colorPrimary;
      border-radius: 8px;
    }
    // // Firefox
    // &::-moz-range-progress {
    //   background-color: #43e5f7; 
    // }
    // &::-moz-range-track {  
    //   background-color: #9a905d;
    // }
    // // IE
    // &::-ms-fill-lower {
    //   background-color: #43e5f7; 
    // }
    // &::-ms-fill-upper {  
    //   background-color: #9a905d;
    // }
  }
}
  .filled {
    min-width: 0px;
    height: 8px;
    position: absolute;
    top: 7px;
    left: 0;
    border-radius: 4px;
    background-color: $colorPrimary;
  }