@import '../styles/environment';

$height: 40px;

.container {
  width: 100%;
  height: $height;
  padding: 4px;
  display: flex;
  flex-direction: row;
  background-color: $colorLightGray;
  // border-radius: $borderRadius;
}
  .navigation {
    height: 100%;
  }
    .navigationItem {
      height: 100%;
      float: left;
      padding: 0 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: none;
      text-decoration: none;
      border-radius: $borderRadius;
      
      i {
        font-size: 20px;
        color: $colorGray;
      }

      &.selected {
        background-color: rgba($colorPrimary, 0.2);
        i { color: $colorPrimary; }
      }
    }

  .middle {
    flex: 1;
  }

  .selectDirectoryButton {
    height: 100%;
    margin: 0 8px 0 0;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $colorGray;
    font-size: 10px;
    color: $colorWhite;
    border-radius: $borderRadius;
  }

  .moreButton {
    width: $height - 8px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 20px;
      color: $colorBlack;
    }
  }
