@import-normalize;
@import './environment';

html,
body {
  width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
  }

input, textarea {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: inherit;
	}

a {
  color: inherit;
  text-decoration: none;
  }

* {
  box-sizing: border-box;
  }
